<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Storia</h2>
                    <h3 class="section-subheading text-muted">Questa la storia della UP...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_pontevalleceppi_santamariamaddalena_up22_200.jpg" alt="chiesa santa maria maddalena">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1311-</h4>
                                    <h4 class="subheading">Parrocchia di Santa Maria Maddalena in Ponte Valleceppi, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
La Chiesa di Santa Maria Maddalena in Ponte Valleceppi ha origini molto antiche; la sua presenza è attestata in un inventario del 1311. Nel catasto del 1427 risulta già come chiesa parrocchiale, ma il fonte battesimale vi fu istituito solo nel 1836, quando si decise di trasferirvi quello che si trovava nella vicina Chiesa parrocchiale di San Nicola di Pretola. La documentazione conservata presso l’Archivio di Stato di Perugia ne attesta l’attività a partire dal 1621.
I lavori di costruzione della nuova chiesa parrocchiale iniziarono nel 1882 per iniziativa e sotto la direzione del parroco don Ferdinando Scarabattoli; furono finanziati con le offerte e le entrate delle priorate. Nel 1926 furono fatti lavori di restauro e decorazione, queste ultime per mano di Guglielmo Ascanio da Panicale. La chiesa fu pesantemente bombardata durante la seconda guerra mondiale
(Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=46176">SIUSA</a>).
                                    </p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_pilonicopaterno_santamariadellanativita_up22_200.jpg" alt="chiesa santa maria della natività">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1331-</h4>
                                    <h4 class="subheading">Parrocchia di Santa Maria della natività in Pilonico Paterno, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
I primi dati storici risalgono al secolo XIV, quando la Parrocchia dipendeva dal Monastero di San Pietro in Perugia.
Nel 1331 era retta da Giacomo Vanni, oblato del Monastero, ma soltanto nel 1437 la dipendenza fu ufficializzata in virtù di una bolla pontificia di papa Eugenio IV. Il Monastero di San Pietro aveva giurisdizione su altre 19 parrocchie della zona e aveva l’obbligo di provvedere a tutti i lavori di manutenzione della chiesa e della canonica. Con la soppressione dei beni ecclesiastici la competenza passò alla Fondazione per l’istruzione agraria di Perugia. 
La nomina dei parroci spettava all’abate, che vi inviava dei vicari. Con la confisca dei beni e la progressiva diminuzione del numero dei monaci, la giurisdizione passò al vescovo dell’Arcidiocesi di Perugia. 
Dipendono dalla Parrocchia la Cappella Madonna della Caina e, dal 1987, due chiese che fino quel momento erano parrocchiali: San Martino dei Colli e Sant'Egidio in Poggio delle Corti
(Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=45520&RicDimF=2">SIUSA</a>).<br>
Dopo la visita pastorale del Cardinale Bassetti, nell'aprile 2015 è stata inserita nell'UP 22 ed unita pastoralmente alla parrocchia di Ripa.
</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_pretola_sannicolo_cea_200.jpg" alt="chiesa san nicolò/san nicola - fonte CEA">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1571-1824;1910-</h4>
                                    <h4 class="subheading">Parrocchia di San Nicolò in Pretola, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Lo storico locale Giuseppe Belforti scrive che la Chiesa di Pretola è nominata per la prima volta in un diploma del 1165 di Federico I imperatore; molti storici, però, non condividono l'identificazione della chiesa menzionata con quella di Pretola.
La consacrazione della chiesa, dedicata a San Nicola di Bari, avvenne nel 1384, come riporta un'iscrizione ritrovata da monsignor Ferniani, vescovo di Perugia, durante la visita pastorale da lui compiuta il 18 ottobre 1734. La chiesa, nel secolo XIV, risulta dipendente dall'Abbazia di San Paolo di Valdiponte, come documenta un antico catasto che si conserva nell'archivio dell'Abbazia di San Pietro in Perugia.
La documentazione conservata presso l'Archivio di Stato di Perugia attesta, invece, l'attività parrocchiale a partire dal 1571. 
Il fonte battesimale fu istituito dopo la visita pastorale di monsignor Ercolani, avvenuta nel 1580; il primo libro dei battesimi risale, infatti, al 1583. Nel 1836 fu trasferito nella chiesa parrocchiale di Ponte Valleceppi di Perugia.
Nel 1824 la Parrocchia di San Nicolò in Pretola fu unita alla Parrocchia di Santa Petronilla in Perugia; ritornò autonoma per decreto arcivescovile il 24 agosto 1910
(Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=46058">SIUSA</a>).
                                    </p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_civitelladarna_sanlorenzo_up22_200.jpg" alt="chiesa san lorenzo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1694-</h4>
                                    <h4 class="subheading">Parrocchia di San Lorenzo in Civitella d'Arna, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
La chiesa parrocchiale, posta all'interno del Castello di Civitella d'Arna, risale al XIX secolo, ma l’origine della Parrocchia è probabilmente più antica.
La documentazione conservata presso l’Archivio di Stato di Perugia ne attesta l’attività a partire dal 1694.<br>
Nel 2004, in seguito ad una petizione rivolta all'arcivescovo di Perugia e Città della Pieve, monsignor Giuseppe Chiaretti, e al Prefetto della Congregazione per i vescovi, è stata ripristinata l’antica diocesi estinta di Arna, in qualità di "Sede Titolare Vescovile della Chiesa Cattolica". Nel settembre 2005, <b>monsignor Camillo Ballin, vicario apostolico del Kuwait, è stato nominato vescovo titolare di Arna</b>
(Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=45954">SIUSA</a>).<br>
Dopo la visita pastorale del Cardinale Bassetti, dal settembre 2015 è stata unita pastoralmente alla parrocchia di Sant'Egidio (come già in precedenza).
</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_lidarno_santegidio_up22_200.jpg" alt="chiesa sant'egidio/san pietro martire di verona in lidarno">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1701-</h4>
                                    <h4 class="subheading">Parrocchia di Sant'Egidio in Lidarno, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
L'attività della parrocchia è attestata a partire dal 1701.
Attualmente la chiesa è dedicata a San Pietro martire da Verona
(Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=46101">SIUSA</a>).<br>
Dal 2012 è unita pastoralmente alla parrocchia di Sant'Egidio in Sant'Egidio.
</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_santegidio_santegidio_cea_200.jpg" alt="chiesa sant'egidio - fonte CEA">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1713-</h4>
                                    <h4 class="subheading">Parrocchia di Sant'Egidio in Sant'Egidio, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Sant'Egidio o San Gilio del Colle è, con il suo castello, di origine antichissima, ma la sua comparsa nella storiografia locale data solo al XII secolo, da quando cioè fu donato da Papa Alessandro IV al Monastero di Santa Giuliana in Perugia. Contestualmente si provvide anche a costruirvi una chiesa con annesso il cimitero, un oratorio, un refettorio e tutte le strutture necessarie al soggiorno delle monache di clausura. 
La consacrazione della chiesa avvenne il 2 maggio 1294. 
Dopo l'Unità d'Italia, quando le monache di Santa Giuliana si trasferirono nel Convento delle suore francescane di Viterbo, la gestione passò sotto la giurisdizione della Curia vescovile.
Al territorio della Parrocchia appartiene la Chiesa della Madonna della Villa, che probabilmente fu costruita verso la metà del 1300 per onorare un'immagine della Madonna in trono con il Bambino, attribuita alla scuola del Lorenzetti.
La documentazione conservata presso l'Archivio di Stato di Perugia attesta l'attività parrocchiale a partire dal 1713
(Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=45676">SIUSA</a>).<br>
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_ripa_santimariaedemiliano_up22_200.jpg" alt="chiesa santi maria ed emiliano">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1828-</h4>
                                    <h4 class="subheading">Parrocchia dei Santi Maria ed Emiliano in Ripa, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
La Parrocchia dei Santi Maria ed Emiliano in Ripa è stata istituita nel 1828, allorquando si decise di unire la Parrocchia di Sant’Emiliano in Ripa e la Parrocchia di Santa Maria in Ripa sotto un unico titolo.
La chiesa parrocchiale attuale, che si trova nelle immediate vicinanze della porta est di accesso al borgo, è stata costruita nel 1919
(Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=46109">SIUSA</a>).<br>
Dopo la visita pastorale del Cardinale Bassetti, nell'aprile 2015 è stata inserita nell'UP 22.
</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_pianello_sanbiagio_up22_200.jpg" alt="chiesa san biagio">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1875-</h4>
                                    <h4 class="subheading">Parrocchia di San Biagio in Pianello, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Pianello, attuale frazione del Comune di Perugia, si è sviluppata nel XIV secolo quando il castello soprastante, il cui nome originale era Castrum Arnae, si andò progressivamente spopolando spostandosi a valle.
La parola "arno" è un termine d'origine etrusca che designa il fiume, in questo caso il Chiascio, che scorre nel territorio circostante, anticamente parte del Patrimonio papale di San Pietro.
Nel 1059 papa Nicola II diede facoltà ai monaci benedettini dell'Abbazia di San Pietro di Perugia di riscuotere le decime dal castello.
In questo stesso periodo gli abitanti costruirono in pianura la Pieve di San Valentino, divenuta in seguito dei Santi Biagio e Valentino.
Verso il 1456, per fuggire dalla peste e dalle guerre, la cura d’anime fu trasferita nella Chiesa di San Giovanni Battista in Castel d’Arno, che si trovava entro le mura del castello.
Qui vi rimase sino al 1875 quando, demolita la vecchia Chiesa dei Santi Biagio e Valentino, venne eretta l’attuale Chiesa dedicata a San Biagio da cui la Parrocchia ha preso il nome
(Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=46144">SIUSA</a>).<br>
Dopo la visita pastorale del Cardinale Bassetti, nell'aprile 2015 è stata inserita nell'UP 22.
</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_montescosso_sangiuseppe_up22_200.jpg" alt="chiesa san giuseppe">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1898-</h4>
                                    <h4 class="subheading">Chiesa di San Giuseppe (Passionisti) in Montescosso, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Il convento di Montescosso è una donazione di due nobili: i Conti Riccio Ricci e Virginia Macchi di Rieti.
La donazione è stata fatta dal conte dopo la morte della consorte, in suo ricordo e per sua volontà.
Il conte nel 1895 scrisse Passionisti e dal Santuario della Madonna della Stella (PG)
partì un Padre per officiarne la cappella. Nel luglio del 1898 vi andarono altri religiosi (due sacerdoti e due fratelli).
Non mancarono all'inizio delle difficoltà legate alla forzata coabitazione della comunità religiosa con la famiglia del conte Ricci.
Intanto nell'agosto 1898 si ebbe il rescritto apostolico per l'apertura canonica del Ritiro che fu intitolato a San Giuseppe.
Dopo la morte del conte Ricci, avvenuta nel novembre del 1917, la villa fu tutta a disposizione dei Passionisti.
Furono compiuti vari adattamenti, sebbene la villa non avesse le caratteristiche architettoniche di un convento.
Si pensò intanto ad una chiesa e fu eretta su disegno dell' ingegnere Belletti di Cesena,
sostenendone le spese il passionista P. Luigi Besi attingendo il necessario dal patrimonio di famiglia
(Fonte <a href="http://www.passionistipiet.it/index.php?option=com_content&view=article&id=18&Itemid=23">Passionisti</a>).<br>
Dopo la visita pastorale del Cardinale Bassetti, dall'aprile 2015 la comunità è in aiuto all'UP 22.
</p>
                                </div>
                            </div>
                        </li>
                    
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/up22_logo_200px.png" alt="logo up22">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1997-</h4>
                                    <h4 class="subheading">Unità Pastorali</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Le Unità Pastorali vengono istituite negli anni '90. Nel Direttorio pastorale del 2012
la UP22 risultava costituita dalle parrocchie di Ponte Valleceppi, Pretola e Sant'Egidio-Lidarno-Civitella d'Arna.<br>
Dal 16/4/2015, a seguito della visita pastorale del card.Bassetti che ha dedicato particolare
attenzione al cammino delle UP, si sono aggiunte all'UP22 anche
le parrocchie di Pianello e Ripa-Pilonico Paterno.<br>
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/chiesa_lidarno_casaemmaus_up22_200.jpg" alt="casa emmaus">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-</h4>
                                    <h4 class="subheading">Casa Emmaus in Lidarno, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Casa Emmaus è luogo di incontro tra appiedati e arruotati, persone con disabilità e non.
Luogo dove guardare al di là del limite per vedere la persona che ci sta di fronte e
gustare il miracolo e lo splendore della vita, di ogni vita, dono del Padre.
(Fonte <a href="http://www.casaemmausperugia.com/it/chi-siamo.php">Sito Casa Emmaus</a>).<br>
Come struttura caritativo-assistenziale fa parte della UP22.
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/up22_logo_contitolosito_200px.png" alt="sito up22">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Sito della UP</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Il sito dell'Unità pastorale è stato realizzato a seguito della
<a href="https://www.facebook.com/media/set/?set=a.1014013588629598.1073741829.1002126596484964&type=3" title="album foto della visita">visita pastorale del card.Bassetti del marzo 2015</a>.
Ha debuttato in data 7/6/2015 festività del Corpus Domini.
Il logo della UP22 raffigura la Croce di Cristo
che entra nella UP attraverso il ponte di Ponte Valleceppi,
punto di ingresso della UP provenendo dalla Cattedrale.
</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
