<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Storia</h2>
                    <h3 class="section-subheading text-muted">Questa la storia delle parrocchie della UP...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/cea_foto_pontevalleceppi_santamariamaddalena.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1311</h4>
                                    <h4 class="subheading">Parrocchia di Santa Maria Maddalena in Ponte Valleceppi, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
La Chiesa di Santa Maria Maddalena in Ponte Valleceppi ha origini molto antiche; la sua presenza è attestata in un inventario del 1311. Nel catasto del 1427 risulta già come chiesa parrocchiale, ma il fonte battesimale vi fu istituito solo nel 1836, quando si decise di trasferirvi quello che si trovava nella vicina Chiesa parrocchiale di San Nicola di Pretola. La documentazione conservata presso l’Archivio di Stato di Perugia ne attesta l’attività a partire dal 1621.
I lavori di costruzione della nuova chiesa parrocchiale iniziarono nel 1882 per iniziativa e sotto la direzione del parroco don Ferdinando Scarabattoli; furono finanziati con le offerte e le entrate delle priorate. Nel 1926 furono fatti lavori di restauro e decorazione, queste ultime per mano di Guglielmo Ascanio da Panicale. La chiesa fu pesantemente bombardata durante la seconda guerra mondiale.
Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=46176">SIUSA</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/cea_foto_pretola_sannicolo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1571</h4>
                                    <h4 class="subheading">Parrocchia di San Nicolò in Pretola, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Lo storico locale Giuseppe Belforti scrive che la Chiesa di Pretola è nominata per la prima volta in un diploma del 1165 di Federico I imperatore; molti storici, però, non condividono l'identificazione della chiesa menzionata con quella di Pretola.
La consacrazione della chiesa, dedicata a San Nicola di Bari, avvenne nel 1384, come riporta un'iscrizione ritrovata da monsignor Ferniani, vescovo di Perugia, durante la visita pastorale da lui compiuta il 18 ottobre 1734. La chiesa, nel secolo XIV, risulta dipendente dall'Abbazia di San Paolo di Valdiponte, come documenta un antico catasto che si conserva nell'archivio dell'Abbazia di San Pietro in Perugia.
La documentazione conservata presso l'Archivio di Stato di Perugia attesta, invece, l'attività parrocchiale a partire dal 1571. 
Il fonte battesimale fu istituito dopo la visita pastorale di monsignor Ercolani, avvenuta nel 1580; il primo libro dei battesimi risale, infatti, al 1583. Nel 1836 fu trasferito nella chiesa parrocchiale di Ponte Valleceppi di Perugia.
Nel 1824 la Parrocchia di San Nicolò in Pretola fu unita alla Parrocchia di Santa Petronilla in Perugia; ritornò autonoma per decreto arcivescovile il 24 agosto 1910 ed è ancora in attività.
Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=46058">SIUSA</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1701</h4>
                                    <h4 class="subheading">Parrocchia di Sant'Egidio in Lidarno, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Non è stato possibile reperire notizie sull'origine della Parrocchia. La documentazione ne attesta l'attività a partire dal 1701.
Attualmente la chiesa parrocchiale è dedicata a San Pietro martire da Verona.
Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=46101">SIUSA</a>
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/http://www.gentili.org/up22/cea_foto_santegidio_santegidio.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1713</h4>
                                    <h4 class="subheading">Parrocchia di Sant'Egidio in Sant'Egidio, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Sant'Egidio o San Gilio del Colle è, con il suo castello, di origine antichissima, ma la sua comparsa nella storiografia locale data solo al XII secolo, da quando cioè fu donato da Papa Alessandro IV al Monastero di Santa Giuliana in Perugia. Contestualmente si provvide anche a costruirvi una chiesa con annesso il cimitero, un oratorio, un refettorio e tutte le strutture necessarie al soggiorno delle monache di clausura. 
La consacrazione della chiesa avvenne il 2 maggio 1294. 
Dopo l'Unità d'Italia, quando le monache di Santa Giuliana si trasferirono nel Convento delle suore francescane di Viterbo, la gestione passò sotto la giurisdizione della Curia vescovile.
Al territorio della Parrocchia appartiene la Chiesa della Madonna della Villa, che probabilmente fu costruita verso la metà del 1300 per onorare un'immagine della Madonna in trono con il Bambino, attribuita alla scuola del Lorenzetti.
La documentazione conservata presso l'Archivio di Stato di Perugia attesta l'attività parrocchiale a partire dal 1713.<br>
Fonte <a href="http://siusa.archivi.beniculturali.it/cgi-bin/pagina.pl?TipoPag=prodente&Chiave=45676">SIUSA</a>
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Sito della UP 22 creato in data 8 marzo 2015
                                in occasione della visita del Cardinale Bassetti</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
