<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Storia</h2>
                    <h3 class="section-subheading text-muted">Questa la storia delle parrocchie della UP...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.gentili.org/up22/cea_foto_santegidio_santegidio.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1713</h4>
                                    <h4 class="subheading">Parrocchia di Sant'Egidio in Sant'Egidio, Perugia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
Sant'Egidio o San Gilio del Colle è, con il suo castello, di origine antichissima, ma la sua comparsa nella storiografia locale data solo al XII secolo, da quando cioè fu donato da Papa Alessandro IV al Monastero di Santa Giuliana in Perugia. Contestualmente si provvide anche a costruirvi una chiesa con annesso il cimitero, un oratorio, un refettorio e tutte le strutture necessarie al soggiorno delle monache di clausura. 
La consacrazione della chiesa avvenne il 2 maggio 1294. 
Dopo l'Unità d'Italia, quando le monache di Santa Giuliana si trasferirono nel Convento delle suore francescane di Viterbo, la gestione passò sotto la giurisdizione della Curia vescovile.
Al territorio della Parrocchia appartiene la Chiesa della Madonna della Villa, che probabilmente fu costruita verso la metà del 1300 per onorare un'immagine della Madonna in trono con il Bambino, attribuita alla scuola del Lorenzetti.
La documentazione conservata presso l'Archivio di Stato di Perugia attesta l'attività parrocchiale a partire dal 1713.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
