  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">
                      <!--Creative Commons License-->
                      I contenuti del sito sono rilasciati con licenza
                      <a href="http://creativecommons.org/licenses/by/3.0/it/"><img alt="Creative Commons" title="clicca qui per conoscere i termini della licenza d'utilizzo del sito" style="border-width: 0; margin-right: 5px;" src="http://creativecommons.org/images/cc.png" align="left"/></a>
                      CC-BY 3.0, salvo diversa indicazione della fonte
                      </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                -->
            </div>
        </div>
    </footer>
