<div class="bg-darkest-gray">
    <footer>
          <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">
                      <!--Creative Commons License-->
                      <span style="color: white;">I contenuti del sito sono rilasciati con licenza</span>
                      <a href="http://creativecommons.org/licenses/by/3.0/it/"><img alt="Creative Commons" title="clicca qui per conoscere i termini della licenza d'utilizzo del sito" style="border-width: 0; margin: 3px; width: 20px; height: 20px;" src="http://creativecommons.org/images/cc.png"/>CC-BY</a>
                      <span style="color: white;">, salvo diversa indicazione della fonte.</span>
                      </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://www.pontefelcinoup.it/">UP n.19 Ponte Felcino (Zona IV)</a><br>
                        </li>
                        <li><a href="http://www.parrocchiepsg.it/">UP n.14 Ponte San Giovanni (Zona III)</a><br>
                        </li>
                        <li><a href="http://www.diocesi.perugia.it/">Archidiocesi Perugia-Città della Pieve</a><br>
                        </li>
                        <li><a href="http://www.chiesainumbria.it/">Conferenza Episcopale Umbra (CEU)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
