<!-- Portfolio Grid Section -->

<!-- facebook social sdk -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- facebook end -->

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Notizie ed Orari</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 text-center">
                    <!-- facebook page plugin -->
                    Per essere aggiornati seguiteci su facebook:<br><br>
                    <div class="fb-page" data-href="https://www.facebook.com/pontevalleceppiup" data-height="630" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pontevalleceppiup"><a href="https://www.facebook.com/pontevalleceppiup">Unità Pastorale 22 Ponte Valleceppi</a></blockquote></div></div>
                    <br>
                    &nbsp;<br>
                </div>
                <div class="col-md-6 text-center">
                    <!-- messe -->
                    Orario Sante Messe della UP22:<br><br>
                    <a href="http://www.gentili.org/up22/up22_orario_messe.png"><img src="http://www.gentili.org/up22/up22_orario_messe.png" width="340" title="orario messe parrocchie della UP22 Ponte Valleceppi - cliccare per ingrandire"></a><br>
                    &nbsp;<br>
                    &nbsp;<br>
                    <!-- plugin cei -->
                    <script src="http://www.chiesacattolica.it/pls/cci_new_v3/widgetcci.almanacco_frame?formato=3" type="text/javascript"></script>
                    &nbsp;<br>
                </div>
            </div>
            
            <!-- Portfolio...

            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            -->
        </div>
    </section>
