<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cos'è l'Unità Pastorale?</h2>
                    <h3 class="section-subheading text-muted">L'unità pastorale (UP) n.22 fa parte
                        della Zona IV "Valle del Tevere Nord" della Archidiocesi di Perugia-Città della Pieve,
                        ha un totale di circa 9100 abitanti ed è costituita dalle seguenti parrocchie:
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!i class="fa fa-circle fa-stack-2x text-primary"><!/i>
                        <!i class="fa fa-shopping-cart fa-stack-1x fa-inverse"><!/i>
                        <img src="http://www.gentili.org/up22/cea_foto_pontevalleceppi_santamariamaddalena.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Parrocchia di Santa Maria Maddalena</h4>
                    <p class="text-muted">in Ponte Valleceppi<br>
                        Via Bologna, 35 - Perugia<br>
                        Parroco (e moderatore della UP): Don Domenico Sorbaioli<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <!span class="fa-stack fa-4x">
                        <!i class="fa fa-circle fa-stack-2x text-primary"><!/i>
                        <!i class="fa fa-laptop fa-stack-1x fa-inverse"><!/i>
                    <!/span>
                    <div class="text-center" style="text-align: center;">
                    <img src="http://www.gentili.org/up22/cea_foto_pretola_sannicolo.jpg" class="img-responsive img-circle" alt="">
                    </div>
                    <h4 class="service-heading">Parrocchia di<br>San Nicolò</h4>
                    <p class="text-muted">in Pretola<br>
                        Via Romagna, 19 - Perugia<br>
                        0756920857
                    </p>
                </div>
                <div class="col-md-4">
                    <!span class="fa-stack fa-4x">
                        <!i class="fa fa-circle fa-stack-2x text-primary"><!/i>
                        <!i class="fa fa-lock fa-stack-1x fa-inverse"><!/i>
                    <!/span>
                    <div class="text-center">
                    <img src="http://www.gentili.org/up22/cea_foto_santegidio_santegidio.jpg" class="img-responsive img-circle" alt="">
                    </div>
                    <h4 class="service-heading">Parrocchia di<br>Sant'Egidio</h4>
                    <p class="text-muted">in Sant'Egidio<br>
                    Via Ortolana, 9 - Perugia<br>
                    <i></i>unità con</i><br>
                    <b>Sant'Egidio</b><br>
                    in Lidarno<br>
                    Via S.Egidio - Perugia</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">Nella UP n.22 è presente anche
                        un santuario mariano "<b>Santuario della Madonna della Villa</b>" in Sant'Egidio (<a href="http://turismo.comune.perugia.it/resources/Itinerari/depliant.pdf">vedi info</a>)
                        ed una struttura caritativo-assistenziale "<b>Casa Emmaus</b>" in Lidarno (<a href="http://www.casaemmausperugia.com/">vedi sito</a>).
                    </h3>
                </div>
            </div>
        </div>
    </section>
