<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cos'è l'Unità Pastorale?</h2>
                    <h3 class="section-subheading text-muted">L'unità pastorale (UP) n.22 fa parte
                        della Zona IV "Valle del Tevere Nord" della Archidiocesi di Perugia-Città della Pieve,
                        ha un totale di circa 9.100 abitanti ed è costituita dalle seguenti parrocchie:
                    </h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <!span class="fa-stack fa-4x">
                        <!i class="fa fa-circle fa-stack-2x text-primary"><!/i>
                        <!i class="fa fa-shopping-cart fa-stack-1x fa-inverse"><!/i>
                    <!/span>
                    <img class="img-circle img-responsive img-centered" src="http://www.gentili.org/up22/santi_santamariamaddalena_wiki_100.jpg" alt="santa maria maddalena - fonte wikipedia">
                    <h4 class="service-heading">Parrocchia di<br>Santa Maria Maddalena</h4>
                    <p class="text-muted">in Ponte Valleceppi<br>
                        <a href="https://www.google.com/maps/place/Chiesa+di+Santa+Maria+Maddalena/@43.109044,12.4464604,17z/data=!4m7!1m4!3m3!1s0x132e9ffda12d2ab3:0x1401bce8dd7c5a3c!2sVia+Bologna,+35,+06135+Perugia,+Italia!3b1!3m1!1s0x0000000000000000:0x3691bd0e1e82a36f">Indirizzo: Via Bologna, 35 - Perugia</a><br>
                        Parroco: <b>Don Domenico Lucchiari</b><br>
                        (Moderatore della UP22)<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle img-responsive img-centered" src="http://www.gentili.org/up22/santi_sannicola_wiki_100.jpg" alt="san nicola - fonte wikipedia">
                    <h4 class="service-heading">Parrocchia di San Nicolò</h4>
                    <p class="text-muted">in Pretola<br>
                        <a href="https://www.google.com/maps/place/Parrocchia+Di+S.Nicolo'+In+Pretola/@43.1149895,12.439634,19z/data=!4m7!1m4!3m3!1s0x132c200199f44085:0x87e8ed8b3e8e0cd0!2svia+Romagna,+19,+06134+Perugia,+Italia!3b1!3m1!1s0x0000000000000000:0xad88b251dea87d7d">Indirizzo: Via Romagna, 19 - Perugia</a><br>
                        Parroco: <b>Don Domenico Lucchiari</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle img-responsive img-centered" src="http://www.gentili.org/up22/santi_santegidio_wiki_100.jpg" alt="sant'egidio - fonte wikipedia">
                    <h4 class="service-heading">Parrocchia di Sant'Egidio</h4>
                    <p class="text-muted">in Sant'Egidio<br>
                        <a href="https://www.google.com/maps/place/Via+Assisi,+101,+06134+Sant'Egidio+PG,+Italia/@43.1041947,12.4910197,18z/data=!3m1!4b1!4m5!1m2!2m1!1sparrocchia+sant'egidio+06134+Perugia,+Italia!3m1!1s0x132e9e29958688d1:0xa8568996eb123641">Indirizzo: Via Ortolana, 9 - Perugia</a><br>
                        <i>unita con</i>&nbsp; <b>Sant'Egidio</b> in Lidarno - Perugia<br>
                        <i>e con</i>&nbsp; <b>San Lorenzo</b> in Civitella d'Arna<br>
                        Parroco: <b>Don Simone Sorbaioli</b><br>
                    </p>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-4">
                    <img class="img-circle img-responsive img-centered" src="http://www.gentili.org/up22/santi_santemiliano_wiki_100.jpg" alt="sant'emiliano - fonte wikipedia">
                    <h4 class="service-heading">Parrocchia dei<br>Santi Maria ed Emiliano</h4>
                    <p class="text-muted">in Ripa<br>
                        <a href="https://www.google.com/maps/place/Via+delle+Marmore,+69,+06134+Pianello+PG,+Italia/@43.141697,12.537682,18z/data=!4m2!3m1!1s0x132c26d6e17914af:0x1a9e776cfa035a6c!6m1!1e1">Indirizzo: Via Magnolia,8 - Perugia</a><br>
                        <i>unita con</i>&nbsp; <b>Santa Maria della natività</b> in Pilonico Paterno - Perugia<br>
                        Parroco: <b>Don Bruno Contini</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle img-responsive img-centered" src="http://www.gentili.org/up22/santi_sanbiagio_web_100.jpg" alt="san biagio - fonte web">
                    <h4 class="service-heading">Parrocchia di San Biagio</h4>
                    <p class="text-muted">in Pianello<br>
                        <a href="https://www.google.com/maps/place/Via+delle+Marmore,+69,+06134+Pianello+PG,+Italia/@43.141697,12.537682,18z/data=!4m2!3m1!1s0x132c26d6e17914af:0x1a9e776cfa035a6c!6m1!1e1">Indirizzo: Via delle Marmore, 48 - Perugia</a><br>
                        Parroco: <b>Don Bruno Contini</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">nella UP sono presenti anche</h4>
                    <p class="text-muted">
                        un santuario mariano "<a href="http://turismo.comune.perugia.it/resources/Itinerari/depliant.pdf">Santuario della Madonna della Villa</a>" in Sant'Egidio,
                        due strutture caritativo-assistenziali "<a href="http://www.casaemmausperugia.com/">Casa Emmaus</a>" in Lidarno (opera segno)
                        e "<b>Casa di accoglienza Santa Maria Assunta</b>" in Ripa,
                        oltre all'aiuto di una comunità religiosa maschile "<a href="http://www.passionistipiet.it/le-comunita/montescosso.html">Congregazione della Passione (Passionisti)</a>" in Montescosso.
                    </p>
                </div>
            </div>
        </div>
    </section>
