<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cos'è l'Unità Pastorale?</h2>
                    <h3 class="section-subheading text-muted">L'unità pastorale (UP) n.22 fa parte
                        della Zona IV "Valle del Tevere Nord" della Archidiocesi di Perugia-Città della Pieve,
                        ha un totale di circa 9100 abitanti ed è costituita dalle seguenti parrocchie:
                    </h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <!span class="fa-stack fa-4x">
                        <!i class="fa fa-circle fa-stack-2x text-primary"><!/i>
                        <!i class="fa fa-shopping-cart fa-stack-1x fa-inverse"><!/i>
                    <!/span>
                    <h4 class="service-heading">Parrocchia di Santa Maria Maddalena</h4>
                    <p class="text-muted">in Ponte Valleceppi<br>
                        Via Bologna, 35 - Perugia<br>
                        - Parroco (e Moderatore della UP22): <b></b>Don Domenico Lucchiari</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Parrocchia di San Nicolò</h4>
                    <p class="text-muted">in Pretola<br>
                        Via Romagna, 19 - Perugia<br>
                        - Parroco: <b></b>Don Domenico Lucchiari</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Parrocchia di Sant'Egidio</h4>
                    <p class="text-muted">in Sant'Egidio<br>
                        Via Ortolana, 9 - Perugia<br>
                        <i></i>unita con</i><br>
                        <b>Sant'Egidio</b> in Lidarno - Perugia<br>
                        <i></i>e con</i> <b>San Lorenzo</b> in Civitella d'Arna - Perugia<br>
                        - Amministratore parr.le: <b></b>Don Simone Sorbaioli</b><br>
                    </p>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-4">
                    <!span class="fa-stack fa-4x">
                        <!i class="fa fa-circle fa-stack-2x text-primary"><!/i>
                        <!i class="fa fa-shopping-cart fa-stack-1x fa-inverse"><!/i>
                    <!/span>
                    <h4 class="service-heading">Parrocchia di Santa Maria Maddalena</h4>
                    <p class="text-muted">in Ponte Valleceppi<br>
                        Via Bologna, 35 - Perugia<br>
                        - Parroco (e Moderatore della UP22): <b></b>Don Bruno Contini</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Parrocchia di San Biagio</h4>
                    <p class="text-muted">in Pianello<br>
                        Via delle Marmore, 48 - Perugia<br>
                        - Parroco: <b></b>Don Bruno Contini</b><br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Parrocchia dei Santi Maria ed Emiliano</h4>
                    <p class="text-muted">in Ripa<br>
                        Via Magnolia, 8 - Perugia<br>
                        <i></i>unita con</i><br>
                        <b>Santa Maria Assunta</b> in Pilonico Paterno - Perugia<br>
                        - Parroco: <b></b>Don Bruno Contini</b><br>
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">Nella UP n.22 è presente anche
                        un santuario mariano "<b>Santuario della Madonna della Villa</b>" in Sant'Egidio (<a href="http://turismo.comune.perugia.it/resources/Itinerari/depliant.pdf">vedi info</a>)
                        e due strutture caritativo-assistenziali, "<b>Casa Emmaus</b>" in Lidarno (<a href="http://www.casaemmausperugia.com/">vedi sito</a>)
                        e "<b>Casa di accoglienza Santa Maria Assunta</b>" in Ripa,
                        inoltre in aiuto all'UP c'è una comunità religiosa maschile "<b>Congregazione della Passione (Passionisti)</b>" in Montescosso (<a href="http://www.passionistipiet.it/le-comunita/montescosso.html">vedi info</a>)
                    </h3>
                </div>
            </div>
        </div>
    </section>
